/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* --- Below 1344px (Smaller Desktops) */

@media (max-width: 84em) {
  .section-hero {
    padding: 10rem 0 10rem 7rem;
  }

  .navbar {
    max-width: 122rem;
  }
}

/* --- Below 1200px (Landscape Tablets) */

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .navbar {
    max-width: 117rem;
  }

  .heading-primary {
    font-size: 10rem;
  }

  .hero-description {
    font-size: 1.8rem;
    width: 100%;
  }

  .hero-img {
    width: 100%;
  }
}

/* --- Below 944px (Tablets) */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .section-hero {
    padding: 10rem 0;
  }

  .hero {
    display: grid;

    grid-template-columns: 1fr;
    gap: 10rem;
    text-align: center;
  }

  .hero-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heading-primary {
    font-size: 15rem;
  }

  .hero-description {
    font-size: 2.5rem;
    width: 70%;
  }

  .arrow-img {
    width: 7rem;
    height: 7rem;
    margin-left: 1rem;
  }

  /* --- Mobile Navigation */

  .logo {
    width: 5.5rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-wrap {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* Display none */

    /* 1. Hide it visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav-wrap {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .icon-mobile-nav {
    height: 7.8rem;
    width: 7.8rem;
  }

  .nav-menu {
    flex-direction: column;
    gap: 7rem;
  }

  .nav-link {
    font-size: 3rem;
  }

  .nav-active {
    color: var(--text-muted-dark);
  }

  .nav-cart-wrap {
    display: none;
  }
}

/* --- Below 704px (Smaller Tablets) */

@media (max-width: 44em) {
  .logo {
    width: 3.5rem;
  }

  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
  }

  .hero {
    gap: 7rem;
  }

  .heading-primary {
    font-size: 10rem;
  }

  .hero-description {
    font-size: 1.5rem;
    width: 85%;
  }

  .arrow-img {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
  }
}

/* --- Below 544px (Phones) */

@media (max-width: 34em) {
}
