.subheading {
  font-size: 2rem;
  color: var(--text-white);
}

.heading-primary {
  font-size: 12rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-secondary {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-tertiary {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.1;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
