.subheading {
  font-size: 2rem;
  color: var(--text-white);
}

.arrow-img {
  width: 5rem;
  height: 5rem;

  margin-top: 2rem;
  margin-left: 1rem;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
