/* Other CSS file imports */

@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/about.css);
@import url(sections/projects.css);
@import url(sections/contacts.css);

@import url(base.css);
@import url(reusable.css);
@import url(queries.css);
