.section-about {
  background-color: var(--bg-dark);
  padding: 10rem 0 10rem 10rem;
  position: relative;

  z-index: 2;
}

.about-img-wrap {
  position: absolute;
  top: 9rem;
  left: -1rem;

  z-index: -1;
}

.about-img-wrap img {
  width: 9rem;
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;

  gap: 2rem;
}

.about-intro-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  margin-bottom: 0.5rem;
}

.purple-dark-line {
  width: 10rem;
  height: 2px;
  background-color: var(--secondary-purple);
}

.purple-dark-highlight {
  display: flex;
  align-items: center;

  color: var(--secondary-purple);
}

.purple-dark-arrow-img {
  width: 5rem;
  height: 5rem;

  margin-left: 1rem;
}

.about-description {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
  color: var(--text-muted-light);

  width: 70%;
}

.about-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.4rem;
}

.about-stat-card {
  padding: 13rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s;

  background: var(--bg-surface);
}

.about-stat-card:hover {
  transform: translateY(-6px);
}

.about-stat-card h2 {
  font-size: 4.5rem;
  color: var(--secondary-purple);
}

.about-stat-card p {
  font-size: 1.8rem;
  color: var(--text-muted-light);

  margin-top: 1rem;
}

.divider {
  height: 1px;
  margin: 7rem 0 5rem;
  background: linear-gradient(90deg, var(--secondary-purple), transparent);
}

.about-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 5rem;

  padding-right: 7rem;
}

.about-feature {
  padding: 3.2rem;
  border-radius: 1.6rem;
  transition: 0.3s;

  background: var(--bg-surface);
}

.about-feature:hover {
  transform: translateY(-8px);
}

.feature-image {
  width: 3.5rem;
  height: 4rem;
}

.about-feature h3 {
  font-size: 2.7rem;
  margin: 1.6rem 0 1.2rem;
}

.about-feature p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: var(--text-muted-light);

  width: 80%;
}
