.section-contact {
  background-color: var(--bg-dark);
  padding: 10rem 10rem 5rem 10rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-bg-img-wrap {
  position: absolute;
  top: -12rem;
  left: 1rem;
}

.contact-bg-img-wrap img {
  width: 11rem;
}

.contact-header-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 6rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-intro-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  margin-bottom: 1.5rem;
}

.blue-line {
  width: 10rem;
  height: 2px;
  background-color: var(--secondary-blue);
}

.blue-arrow-img {
  width: 5rem;
  height: 5rem;

  margin-left: -1.8rem;
}

.social-icons {
  display: flex;
  gap: 2rem;

  padding-bottom: 1rem;
}

.social-icon {
  height: 3.7rem;
  width: 3.7rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  color: var(--text-white);
}

.social-icon:hover {
  transform: translateY(-3px);
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

.form-group label {
  color: var(--text-muted);
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.form-group input,
.form-group textarea {
  font-size: 2.3rem;
  color: var(--text-white);
  background: transparent;

  padding: 1rem 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-muted-darker);
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom-color: var(--secondary-blue);
}

.form-group textarea {
  height: 10rem;
  resize: none;
}

.submit-btn {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--secondary-blue);
}

.footer {
  font-size: 1.8rem;
  color: var(--text-muted-dark);
  text-align: center;
  margin-top: 5rem;
}
