.section-hero {
  background-color: var(--bg-darkest);
  padding: 10rem 0 10rem 7rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;

  gap: 8rem;
}

.hero-intro-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.purple-line {
  width: 80px;
  height: 2px;
  background-color: var(--primary-purple);
}

.heading-primary {
  font-size: 12rem;
  font-weight: 700;
  line-height: 1.1;
}

.purple-highlight {
  color: var(--primary-purple);
  display: flex;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
  color: var(--text-muted-light);

  width: 90%;
}

.hero-img {
  width: 100%;
}
