body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--bg-darkest);
}
h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: var(--primary-purple);
}
