.section-hero {
  background-color: var(--bg-darkest);
  padding: 10rem 0 10rem 10rem;
  margin: 0 auto;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;

  gap: 8rem;
}

.hero-intro-wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.purple-light-line {
  width: 10rem;
  height: 2px;
  background-color: var(--primary-purple);
}

.purple-light-highlight {
  display: flex;
  align-items: center;

  color: var(--primary-purple);
}

.purple-light-arrow-img {
  width: 7rem;
  height: 7rem;
  margin-left: 1rem;
}

.hero-description {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
  color: var(--text-muted-light);

  width: 90%;
}

.hero-img {
  width: 100%;
}
